<mat-toolbar color="primary" [class.mat-elevation-z6]="true">
  <mat-toolbar-row fxLayout="row wrap">
    <button mat-button (click)="changeScreen(mainScr.Home)"><mat-icon>home</mat-icon>   Home</button>
    <button mat-button (click)="changeScreen(mainScr.CfgExp)">Configure Experiment</button>
    <button mat-button (click)="changeScreen(mainScr.ExpOvrvw)">Experiment Overview</button>
    <button mat-button (click)="changeScreen(mainScr.AbtUs)">About Us</button>
  </mat-toolbar-row>
</mat-toolbar>
<div [ngSwitch]="activeScreen" fxFlexFill>
  <!--Home Screen-->
  <app-home *ngSwitchCase="mainScr.Home"></app-home>
  <!--Configure Screen-->
  <app-configure-exp *ngSwitchCase="mainScr.CfgExp"></app-configure-exp>
  <!--Experiment Overview Screen-->
  <app-exp-overview *ngSwitchCase="mainScr.ExpOvrvw"></app-exp-overview>
  <!--About Us Screen-->
  <app-about-us *ngSwitchCase="mainScr.AbtUs"></app-about-us>
</div>
