<br>
<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="dsComp.firstFormGroup">
    <ng-template matStepLabel>Choose Datasets</ng-template>
    <app-dataset-scr [(dsList)]="datasetList"></app-dataset-scr>
  </mat-step>
  <mat-step [stepControl]="ssc.secondFormGroup">
    <ng-template matStepLabel>Select Systems</ng-template>
    <app-system-scr [qsysList]="systemList" [modDSList]="dsComp.fetchUserModDSList()"></app-system-scr>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-result-scr></app-result-scr>
  </mat-step>
</mat-horizontal-stepper>
